# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3
db.sqlite3-journal

# Environment
.env
.venv/
env/
venv/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node modules (for frontend)
node_modules/
.package-lock.json
.vite/

# Build
build/
dist/

# System files
.DS_Store
Thumbs.db